{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}  
        TuPrimerAnalisis | jmartinezgr
        {% endblock title %}
    </title>

    <link rel="icon" href="https://raw.githubusercontent.com/jmartinezgr/FotosToMyWebs/main/TuPrimerAnalisis/home/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'archivos/style.css' %}">
</head>
<body>
    <header>
        <h2 class="logo">TuPrimerAnalisis</h2>
        <nav class="navigation">
            {% block navbar %}

            {% endblock navbar %}
        </nav>
    </header>
    {% block content %}
        
    {% endblock content %}
    <script src="{% static 'archivos/script.js' %}"></script>
</body>
</html>